-
  const mainMenuItems = [
    {
      title: 'Home',
      link: '#home',
    },
    {
      title: 'Workspace',
      link: '#workspace',
    },
    {
      title: 'Service',
      link: '#service',
    },
    {
      title: 'Events',
      link: '#events',
    },
    {
      title: 'Reviews',
      link: '#reviews',
    },
    {
      title: 'Contact\u00A0Us',
      link: '#contact-us',
    },
  ]

  const footerSections = [
    {
      title: 'Spaces',
      items: [
        {
          title: 'Co-working spaces',
          link: '#'
        },
        {
          title: 'Meeting rooms',
          link: '#'
        },
        {
          title: 'Event spaces',
          link: '#'
        },
        {
          title: 'Child playground',
          link: '#'
        },
        {
          title: 'Cafe & resto',
          link: '#'
        },
      ]
    },
    {
      title: 'Company',
      items: [
        {
          title: 'About Us',
          link: '#'
        },
        {
          title: 'Pricing',
          link: '#'
        },
        {
          title: 'Careers',
          link: '#'
        },
        {
          title: 'Press',
          link: '#'
        },
      ]
    },
    {
      title: 'Support',
      items: [
        {
          title: 'FAQs',
          link: '#'
        },
        {
          title: 'Privacy Policy',
          link: '#'
        },
        {
          title: 'Help',
          link: '#'
        },
      ]
    },

  ]

  const serviceFeatures = [
    {
      title: '500+',
      position: 'Meeting rooms',
      img:'meeting-room',
    },
    {
      title: '100+',
      position: 'Event spaces',
      img:'event-spaces',
    },
    {
      title: '60+',
      position: 'Countries',
      img:'countries',
    },
    {
      title: '500 Mbps',
      position: 'Internet speed',
      img:'wifi',
    },
    {
      title: '5K+',
      position: 'Startup mentors',
      img:'mentors',
    },
    {
      title: '200+',
      position: 'Communities inside',
      img:'communities',
    },
  ]

  const eventsSlider = [
    {
      title: 'Spacious parking area',
      img: 'facilities03.png'
    },
    {
      title: 'Comfortable spaces',
      img: 'facilities03.png'
    },
    {
      title: 'Cozy cafe',
      img: 'facilities03.png'
    },
    {
      title: 'Child playground',
      img: 'facilities03.png'
    },
    {
      title: 'Outdoor spaces',
      img: 'facilities03.png'
    },
  ];
