-
  const mainMenuItems = [
    {
      title: 'Home',
      link: '#home',
    },
    {
      title: 'Workspace',
      link: '#workspace',
    },
    {
      title: 'Service',
      link: '#service',
    },
    {
      title: 'Events',
      link: '#events',
    },
    {
      title: 'Reviews',
      link: '#reviews',
    },
    {
      title: 'Contact\u00A0Us',
      link: '#contact-us',
    },
  ]

  const footerSections = [
    {
      title: 'Spaces',
      items: [
        {
          title: 'Co-working spaces',
          link: '#'
        },
        {
          title: 'Meeting rooms',
          link: '#'
        },
        {
          title: 'Event spaces',
          link: '#'
        },
        {
          title: 'Child playground',
          link: '#'
        },
        {
          title: 'Cafe & resto',
          link: '#'
        },
      ]
    },
    {
      title: 'Company',
      items: [
        {
          title: 'About Us',
          link: '#'
        },
        {
          title: 'Pricing',
          link: '#'
        },
        {
          title: 'Careers',
          link: '#'
        },
        {
          title: 'Press',
          link: '#'
        },
      ]
    },
    {
      title: 'Support',
      items: [
        {
          title: 'FAQs',
          link: '#'
        },
        {
          title: 'Privacy Policy',
          link: '#'
        },
        {
          title: 'Help',
          link: '#'
        },
      ]
    },

  ]
