extends ../pug/layout.pug

block meta
  title Frispes
  meta(name='description', content='')

block header
  include ../pug/blocks/header.pug

block content
  h1 Заголовок

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
