extends ../pug/layout.pug

block meta
  title Frispes
  meta(name='description', content='')

block header
  include ../pug/blocks/header.pug

block content
  main.page__main
    include ../pug/blocks/introducing.pug
    include ../pug/blocks/our-spaces.pug
    include ../pug/blocks/services.pug
