@font-face {
  font-family: Lora;
  src:
    url('../fonts/lora-variablefont.woff2') format('woff2'),
    url('../fonts/lora-variablefont.ttf') format('woff');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff'),
    url('../fonts/lato-regular.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-medium.woff2') format('woff2'),
    url('../fonts/lato-medium.woff') format('woff'),
    url('../fonts/lato-medium.ttf') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-bold.woff2') format('woff2'),
    url('../fonts/lato-bold.woff') format('woff'),
    url('../fonts/lato-bold.ttf') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}


