.svg-i--arrow-down--dim {
	width: 16px;
	height: 10px;
}

.svg-i--arrow-down-orange--dim {
	width: 16px;
	height: 10px;
}

.svg-i--arrow-right--dim {
	width: 10px;
	height: 16px;
}

.svg-i--arrow-right-orange--dim {
	width: 10px;
	height: 16px;
}

.svg-i--bars--dim {
	width: 90px;
	height: 90px;
}

.svg-i--communities--dim {
	width: 32px;
	height: 32px;
}

.svg-i--countries--dim {
	width: 24px;
	height: 28px;
}

.svg-i--event-spaces--dim {
	width: 32px;
	height: 32px;
}

.svg-i--facebook-logo--dim {
	width: 12px;
	height: 22px;
}

.svg-i--facebook-logo-active--dim {
	width: 12px;
	height: 22px;
}

.svg-i--gallery-arrow-left--dim {
	width: 53px;
	height: 27px;
}

.svg-i--gallery-arrow-right-active--dim {
	width: 92px;
	height: 27px;
}

.svg-i--google-logo--dim {
	width: 120px;
	height: 41px;
}

.svg-i--instagram-logo--dim {
	width: 20px;
	height: 20px;
}

.svg-i--instagram-logo-active--dim {
	width: 20px;
	height: 20px;
}

.svg-i--meeting-room--dim {
	width: 32px;
	height: 32px;
}

.svg-i--mentors--dim {
	width: 32px;
	height: 32px;
}

.svg-i--microsoft-logo--dim {
	width: 170px;
	height: 37px;
}

.svg-i--shopify-logo--dim {
	width: 146px;
	height: 47px;
}

.svg-i--stripe-logo--dim {
	width: 109px;
	height: 46px;
}

.svg-i--tokopedia-logo--dim {
	width: 180px;
	height: 39px;
}

.svg-i--wifi--dim {
	width: 32px;
	height: 32px;
}

.svg-i--yt-logo--dim {
	width: 24px;
	height: 18px;
}

.svg-i--yt-logo-active--dim {
	width: 24px;
	height: 18px;
}

