$main-color:          #10375c;
$warning-color:       #ff5722 ;

$white-color:         #ffffff;

$title-color:         #10375c;

$gray-light:          #9a9a9a;
$gray-medium:         #6a6a6a;
$gray-dark:           #222831;

$text-color:          $gray-dark;

$transparent-color:   rgba(255, 255, 255, 0);

$font-family:         Lato, Arial, 'Helvetica Neue', sans-serif;
$ff-serif:            Lora, Georgia, serif; /* stylelint-disable-line value-keyword-case */
$font-size:           14px;
$line-height:         1.4;


$gap-lg:              30px;
$cols-lg:             12;

$padding-lg:          165px;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1440px;
